@model Velzon.Models.CompositeModel

@{
    ViewBag.Title = "Trabajador";
    ViewBag.pTitle = "Trabajador";
    ViewBag.pageTitle = "Datos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <!--datatable css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" />
    <!--datatable responsive css-->
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Trabajadores</h5>
        </div>
        <div class="card-body">
            <div class="d-grid gap-2 mb-3 d-md-flex justify-content-md-end">
                <button class="btn btn-outline-success me-md-2" type="button">Excel</button>
                <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#modal-crear-trabajador">Crear</button>
            </div>
            <table id="example" class="table table-bordered dt-responsive nowrap table-striped align-middle" style="width:100%">
                <thead>
                    <tr>
                        <th data-ordering="false">RUT</th>
                        <th data-ordering="false">Nombre</th>
                        <th data-ordering="false">Sexo</th>
                        <th data-ordering="false">Empresa</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Trabajadores != null)
                    {
                        @foreach (var trabajador in Model.Trabajadores)
                        {
                            <tr>
                                <td>@trabajador.Rut_Trabajador</td>
                                <td>@trabajador.Nombres @trabajador.Paterno @trabajador.Materno</td>
                                <td>@trabajador.Sexo</td>
                                <td>
                                    @if (Model != null && Model.Empresas != null && trabajador != null)
                                    {
                                        var empresa = Model.Empresas.FirstOrDefault(e => e.Rut == trabajador.Rut_Empresa);
                                        if (empresa != null)
                                        {
                                            @empresa.Razon_Social
                                        }
                                        else
                                        {
                                            <span>Not Found</span>
                                        }
                                    }
                                </td>

                                <td>
                                    <div class="dropdown d-inline-block">
                                        <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="ri-more-fill align-middle"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">

                                            <li>
                                                <a class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i>Editar</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item remove-item-btn">
                                                    <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>Eliminar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="3">No data available</td>
                        </tr>
                    }
                    <tr>
                        <td>6753719-k</td>
                        <td>Cecilia Bolocco</td>
                        <td>Femenino</td>
                        <td>Entel</td>
                        <td>
                            <div class="dropdown d-inline-block">
                                <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ri-more-fill align-middle"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">

                                    <li>
                                        <a class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i>Editar</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item remove-item-btn">
                                            <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>Eliminar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!--end col-->

<div class="col-xxl-6">
    <div class="modal fade" id="modal-crear-trabajador" tabindex="-1" aria-labelledby="modalTrabajadorLabel">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTrabajadorLabel">Crear Trabajador</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/Datos/InsertTrabajador" method="post">
                        <div class="row g-3">
                            <div class="col-xxl-6">
                                <label class="form-label" for="crearTrabajadorEmpresa">Empresa</label>
                                <select class="form-control" data-choices name="EmpresaAndRut"
                                        id="crearTrabajadorEmpresa">
                                    <option value="">Seleccione una empresa</option>
                                    @if (Model != null && Model.Empresas != null)
                                    {
                                        @foreach (var empresa in Model.Empresas)
                                        {
                                            <option value="@empresa.Razon_Social / @empresa.Rut">
                                                @empresa.Razon_Social
                                            </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="No data available">No data available</option>
                                    }
                                </select>
                            </div><!--end col-->
                            <div class="col-xxl-6">
                                <div>
                                    <label for="crearTrabajadorRut" class="form-label">RUT</label>
                                    <input type="text" class="form-control" id="crearTrabajadorRut" placeholder="Introduzca RUT" name="crearTrabajadorRut">
                                </div>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <div>
                                    <label for="crearNombresTrabajador" class="form-label">Nombres</label>
                                    <input type="text" class="form-control" id="crearNombresTrabajador" placeholder="Introduzca nombres" name="crearNombresTrabajador">
                                </div>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <div>
                                    <label for="crearApellidoPaterno" class="form-label">Apellido Paterno</label>
                                    <input type="text" class="form-control" id="crearApellidoPaterno" placeholder="Introduzca apellido" name="crearApellidoPaterno">
                                </div>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <div>
                                    <label for="crearApellidoMaterno" class="form-label">Apellido Materno</label>
                                    <input type="text" class="form-control" id="crearApellidoMaterno" placeholder="Introduzca apellido" name="crearApellidoMaterno">
                                </div>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <label class="form-label">Sexo</label>
                                <div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sexoRadio" id="hombreRadio" value="Hombre">
                                        <label class="form-check-label" for="hombreRadio">Hombre</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sexoRadio" id="mujerRadio" value="Mujer">
                                        <label class="form-check-label" for="mujerRadio">Mujer</label>
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-xxl-5">
                                <label class="form-label" for="crearNacionalidadTrabajador">Nacionalidad</label>
                                <select class="form-control" data-choices name="crearNacionalidadTrabajador"
                                        id="crearNacionalidadTrabajador">
                                    <option value="">Seleccione nacionalidad</option>
                                    <option value="Chileno">Chileno</option>
                                    <option value="Colombiano">Colombiano</option>
                                    <option value="Venezolano">Venezolano</option>
                                </select>
                            </div><!--end col-->
                            <div class="col-xxl-8">
                                <label for="crearDireccionTrabajador" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="crearDireccionTrabajador" placeholder="Introduzca la dirección" name="crearDireccionTrabajador">
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <label class="form-label" for="crearCiudadTrabajador">Ciudad</label>
                                <select class="form-control" data-choices name="crearCiudadTrabajador"
                                        id="crearCiudadTrabajador">
                                    <option value="">Seleccione una ciudad</option>
                                    <option value="Santiago">Santiago</option>
                                    <option value="Temuco">Temuco</option>
                                    <option value="Valdivia">Valdivia</option>
                                </select>
                            </div><!--end col-->
                            <div class="col-xxl-8">
                                <label for="crearEmailTrabajador" class="form-label">Correo Electrónico</label>
                                <input type="email" class="form-control" id="crearEmailTrabajador" placeholder="Introduzca correo electrónico" name="crearEmailTrabajador">
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <div>
                                    <label for="crearTelefonoTrabajador" class="form-label">Teléfono</label>
                                    <input type="text" class="form-control" id="crearTelefonoTrabajador" placeholder="Introduzca teléfono" name="crearTelefonoTrabajador">
                                </div>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <label class="form-label" for="crearContratoTrabajador">Tipo de Contrato</label>
                                <select class="form-control" data-choices name="ContratoAndId"
                                        id="crearContratoTrabajador">
                                    <option value="">Seleccione contrato</option>
                                    @if (Model != null && Model.Contratos != null)
                                    {
                                        @foreach (var contrato in Model.Contratos)
                                        {
                                            <option value="@contrato.Id - @contrato.Descripcion">
                                                @contrato.Descripcion
                                            </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="No data available">No data available</option>
                                    }
                                </select>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <label class="form-label" for="centroTrabajoTrabajador">Centro de Trabajo</label>
                                <select class="form-control" data-choices name="CentroTrabajoAndId"
                                        id="centroTrabajoTrabajador">
                                    <option value="">Seleccione centro</option>
                                    @if (Model != null && Model.Centros_Trabajos != null)
                                    {
                                        @foreach (var centro in Model.Centros_Trabajos)
                                        {
                                            <option value="@centro.id - @centro.Centro_Trabajo">
                                                @centro.Centro_Trabajo
                                            </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="No data available">No data available</option>
                                    }
                                </select>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <label class="form-label" for="cargoTrabajador">Cargo</label>
                                <select class="form-control" data-choices name="CargoTrabajadorAndId"
                                        id="cargoTrabajador">
                                    <option value="">Seleccione cargo</option>
                                    @if (Model != null && Model.Cargos != null)
                                    {
                                        @foreach (var cargo in Model.Cargos)
                                        {
                                            <option value="@cargo.Id - @cargo.Descripcion">
                                                @cargo.Descripcion
                                            </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="No data available">No data available</option>
                                    }
                                </select>
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <label class="form-label" for="crearIncorporacionTrabajador">Fecha de Incorporación</label>
                                <input type="date" class="form-control" id="crearIncorporacionTrabajador" name="crearIncorporacionTrabajador">
                            </div><!--end col-->
                            <div class="col-xxl-4">
                                <label class="form-label" for="regimenTrabajador">Régimen de Trabajo</label>
                                <select class="form-control" data-choices name="RegimenTrabajadorAndId"
                                        id="regimenTrabajador">
                                    <option value="">Seleccione régimen</option>
                                    @if (Model != null && Model.Regimen_Trabajos != null)
                                    {
                                        @foreach (var regimen in Model.Regimen_Trabajos)
                                        {
                                            <option value="@regimen.Id - @regimen.Descripcion">
                                                @regimen.Descripcion
                                            </option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="No data available">No data available</option>
                                    }
                                </select>
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- multi.js -->
    <script src="~/assets/libs/multi.js/multi.min.js"></script>
    <!-- autocomplete js -->
    <script src="~/assets/libs/@@tarekraafat/autocomplete.js/autoComplete.min.js"></script>

    <!-- init js -->
    <script src="~/assets/js/pages/form-advanced.init.js"></script>
    <!-- input spin init -->
    <script src="~/assets/js/pages/form-input-spin.init.js"></script>
    <!-- input flag init -->
    <script src="~/assets/js/pages/flag-input.init.js"></script>

    <!--datatable js-->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/assets/js/pages/datatables.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
}