@model Velzon.Models.ArbolCausasViewModel

<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Paso 2 - Árbol de Causas</h4>
    </div><!-- end card header -->

    <div class="card-body">
        <!-- Nav tabs -->
        <ul class="nav nav-pills mb-3" role="tablist">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" data-bs-toggle="tab" href="#pill-justified-accidentado" role="tab">
                    Accidentado
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-antecedentes" role="tab">
                    Antecedentes
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-clasificacion" role="tab">
                    Clasificación
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-hechos" role="tab">
                    Hechos
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-investigacion" role="tab">
                    Investigación
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-medidas" role="tab">
                    Medidas Correctivas
                </a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" data-bs-toggle="tab" href="#pill-justified-finalizar" role="tab">
                    Finalizar
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="pill-justified-accidentado" role="tabpanel">
                <div class="row g-3">
                    <h6 class="mt-4">Información del accidentado</h6>
                    <hr class="mt-0 mb-1" />
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="input-group">
                                <label class="input-group-text" for="TrabajadorEmpresa">Empresa</label>
                                <input type="text" class="form-control" id="TrabajadorEmpresa" value="@Model.TrabajadorEmpresa"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="input-group">
                                <label class="input-group-text" for="TrabajadorNombre">Trabajador</label>
                                <input type="text" class="form-control" id="TrabajadorNombre" value="@Model.TrabajadorNombre @Model.TrabajadorApellidoPaterno @Model.TrabajadorApellidoMaterno"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="input-group">
                                <label class="input-group-text" for="TrabajadorRut">RUT</label>
                                <input type="text" class="form-control" id="TrabajadorRut" value="@Model.TrabajadorRut"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="input-group">
                                <label class="input-group-text" for="TrabajadorCargo">Cargo</label>
                                <input type="text" class="form-control" id="TrabajadorCargo" value="@Model.TrabajadorCargo"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="input-group">
                                <label class="input-group-text" for="TrabajadorCentroTrabajo">Centro de Trabajo</label>
                                <input type="text" class="form-control" id="TrabajadorCentroTrabajo" value="@Model.TrabajadorCentroTrabajo"
                                       aria-label="Sizing example input"
                                       aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="input-group">
                                <label class="input-group-text" for="TrabajadorFechaIngreso">Fecha de Ingreso</label>
                                <input type="text" class="form-control" id="TrabajadorFechaIngreso" value="@Model.TrabajadorFechaIngreso">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div>
                                <label for="supervisorTextArea" class="form-label">
                                    Supervisor directo
                                </label>
                                <textarea class="form-control" id="supervisorTextArea"
                                          rows="1"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mt-3">
                    <h6 class="mt-4">Información del accidente</h6>
                    <hr class="mt-0 mb-1" />
                    <div class="col-lg-4">
                        <div class="input-group">
                            <label class="input-group-text" for="TrabajadorTipoAccidente">Tipo Accidente</label>
                            <input type="text" class="form-control" id="TrabajadorTipoAccidente" value="@Model.TrabajadorTipoAccidente"
                                   aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-text">Fecha</span>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-text">Hora</span>
                            <input type="time" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <label for="medidasTextArea" class="form-label">
                                Medidas inmediatas adoptadas
                            </label>
                            <textarea class="form-control" id="medidasTextArea"
                                      rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <label for="lugarTextArea" class="form-label">
                                Lugar del accidente
                            </label>
                            <textarea class="form-control" id="lugarTextArea"
                                      rows="2"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div>
                            <label for="lugarTextArea" class="form-label">
                                Consecuencia del accidente
                            </label>
                            <textarea class="form-control" id="lugarTextArea"
                                      rows="2"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row g-3 mt-3" id="columnaFatal">
                    <h6 class="mt-4">Adjuntar Documentos</h6>
                    <hr class="mt-0 mb-1" />
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="form-label" for="subirFNotificacion">Formulario de Notificación</label>
                            <a class="btn btn-outline-primary" href="https://www.isl.gob.cl/wp-content/uploads/2018/08/Formulario_Notificacion_Accidente_Fatal_y_Grave.pdf" role="button">Descargar Formulario</a>
                        </div>

                        <div id="subirFNotificacion" class="card">
                            <div class="card-body">
                                <input type="file"
                                       class="filepond filepond-input-multiple"
                                       multiple
                                       name="filepond"
                                       data-allow-reorder="true"
                                       data-max-file-size="3MB"
                                       data-max-files="4">
                            </div>
                            <!-- end card body -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="form-label" for="subirDiat">DIAT</label>
                            <a class="btn btn-outline-primary" href="https://www.isl.gob.cl/wp-content/uploads/2011/03/DIAT.pdf" role="button">Descargar DIAT</a>
                        </div>

                        <div id="subirDiat" class="card">
                            <div class="card-body">
                                <input type="file"
                                       class="filepond filepond-input-multiple"
                                       multiple
                                       name="filepond"
                                       data-allow-reorder="true"
                                       data-max-file-size="3MB"
                                       data-max-files="4">
                            </div>
                            <!-- end card body -->
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success">Grabar</button>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-antecedentes" role="tabpanel">
                <form>
                    <div class="row g-3">
                        <div class="col-lg-4">
                            <div class="input-group">
                                <label class="input-group-text" for="inputGroupSelect01">Entrevistado</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    <option selected>Selecciona...</option>
                                    <option value="1">Roberto Uribe Torres</option>
                                    <option value="2">Juan Pérez</option>
                                    <option value="3">María González</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="input-group">
                                <span class="input-group-text">Fecha Entrevista</span>
                                <input type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label class="form-label" for="docsTextarea">Documentación Revisada, Procedimientos y/o instructivos</label>
                            <textarea class="form-control" id="docsTextarea"
                                      rows="2"></textarea>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label for="lugarTextArea" class="form-label">¿Cómo ocurrió el accidente? (Labor específica que se ejecutaba)</label>
                                <textarea class="form-control" id="lugarTextArea"
                                          rows="2"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label for="subirDocsAntecedentes" class="form-label">
                                Entrevista
                            </label>
                            <div id="subirDocsAntecedentes">
                                <div class="card-body">
                                    <input type="file"
                                           class="filepond filepond-input-multiple"
                                           multiple
                                           name="filepond"
                                           data-allow-reorder="true"
                                           data-max-file-size="3MB"
                                           data-max-files="4">
                                </div>
                                <!-- end card body -->
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </div>
                </form>

                <div class="row mt-4">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Resumen Entrevistas</h4>
                            </div><!-- end card header -->

                            <div class="card-body">

                                <div class="live-preview">
                                    <div class="table-responsive">
                                        <table class="table table-striped-columns table-hover table-nowrap align-middle mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Entrevistado</th>
                                                    <th scope="col">Fecha</th>
                                                    <th scope="col">Doc. Revisada</th>
                                                    <th scope="col">Doc. Adjuntos</th>
                                                    <th scope="col">¿Cómo ocurrió el accidente?</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Roberto Uribe Torres</td>
                                                    <td>18/05/2023</td>
                                                    <td>
                                                        - Documento Procedimiento Administrativo<br>
                                                        - Manual Accidentes
                                                    </td>
                                                    <td>Entrevista Roberto Uribe.docx</td>
                                                    <td>Funciones acordes al trabajo, se cae en la escalera segundo piso</td>
                                                    <td>
                                                        <div class="dropdown d-inline-block">
                                                            <button class="btn btn-soft-secondary btn-sm dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="ri-more-fill align-middle"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end">

                                                                <li>
                                                                    <a class="dropdown-item edit-item-btn"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i>Editar</a>
                                                                </li>
                                                                <li>
                                                                    <a class="dropdown-item remove-item-btn">
                                                                        <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>Eliminar
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div>
                    <!-- end col -->
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success">Grabar</button>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-clasificacion" role="tabpanel">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Clasificación de Accidente</h6>

                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#clasificacion-accidente-modal">Buscar</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <textarea class="form-control" id="areaTipoIncidente"
                                              rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="obsTipoIncidente" class="form-label">
                                        Observación
                                    </label>
                                    <textarea class="form-control" id="obsTipoIncidente"
                                              rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> <!--end col-->
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Tipo de Lesión</h6>

                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tipo-lesion-modal">Buscar</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <textarea class="form-control" id="areaTipoLesion"
                                              rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="obsTipoLesion" class="form-label">
                                        Observación
                                    </label>
                                    <textarea class="form-control" id="obsTipoLesion"
                                              rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> <!--end col-->
                    <div class="col-lg-4">
                        <div class="row align-items-center g-3">
                            <div class="col-12">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6>Parte Lesionada</h6>

                                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#parte-lesionada-modal">Buscar</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group">
                                    <textarea class="form-control" id="areaParteLesion"
                                              rows="6"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div>
                                    <label for="obsParteLesion" class="form-label">
                                        Observación
                                    </label>
                                    <textarea class="form-control" id="obsParteLesion"
                                              rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div> <!--end col-->
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-success">Grabar</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-hechos" role="tabpanel">
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <label for="hechosInput" class="form-label">Ingrese los hechos en orden cronológico</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="hechosInput"
                                       aria-label="Recipient's username with two button addons">
                                <button class="btn btn-success" type="button">Agregar +</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Lista de Hechos</h4>
                            </div><!-- end card header -->

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered align-middle table-nowrap mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">Número</th>
                                                <th scope="col">Descripción del hecho</th>
                                                <th scope="col">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="fw-medium">01</td>
                                                <td>Se cae por la escalera porque el escalón estaba suelto</td>
                                                <td>
                                                    <div class="hstack gap-3 fs-15">
                                                        <button class="btn btn-success btn-sm"><i class="ri-edit-line"></i></button>
                                                        <button class="btn btn-danger btn-sm"><i class="ri-delete-bin-5-line"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="fw-medium">02</td>
                                                <td>Se golpea la cabeza al caer al suelo</td>
                                                <td>
                                                    <div class="hstack gap-3 fs-15">
                                                        <button class="btn btn-success btn-sm"><i class="ri-edit-line"></i></button>
                                                        <button class="btn btn-danger btn-sm"><i class="ri-delete-bin-5-line"></i></button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-success">Grabar</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-investigacion" role="tabpanel">
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                        <a class="nav-link active" data-bs-toggle="tab" href="#pill-justified-arbol" role="tab">
                            Árbol de Causas
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="pill-justified-arbol" role="tabpanel">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row align-items-center g-3">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <label class="input-group-text" for="inputHecho">Hecho</label>
                                            <select class="form-select" id="inputHecho">
                                                <option selected>Seleccione hecho</option>
                                                <option value="1">Se resbala con tacos</option>
                                                <option value="2">Hecho dos</option>
                                                <option value="3">Hecho tres</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="input-group">
                                            <textarea class="form-control" id="hechoInvestigacionArbol"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row align-items-center g-3">
                                    <div class="col-12">
                                        <div class="input-group">
                                            <label for="causas-investigacion" class="input-group-text">Causa</label>
                                            <select class="form-select" id="causas-investigacion" data-choices name="causas-investigacion">
                                                <option value="">Seleccione la(s) causa(s)</option>
                                                <optgroup label="1. Gestión Preventiva de la empresa">
                                                    <option data-bs-toggle="modal" data-bs-target="#investigacion-causa-modal" value="Gestión de la Prevención">Gestión de la Prevención</option>
                                                    <option value="Actividades preventivas">Actividades preventivas</option>
                                                </optgroup>
                                                <optgroup label="2. Factores de la organización del trabajo">
                                                    <option value="Jornadas de trabajo y descanso">Jornadas de trabajo y descanso</option>
                                                    <option value="Carga mental y física en el trabajo">Carga mental y física en el trabajo</option>
                                                    <option value="Formación, capacitación e información">Formación, capacitación e información</option>
                                                    <option value="Clima organizacional">Clima organizacional</option>
                                                </optgroup>
                                                <optgroup label="3. Factores asociados al medio">
                                                    <option value="Condiciones estructurales y deficiencias de vías de desplazamiento ">Condiciones estructurales y deficiencias de vías de desplazamiento </option>
                                                    <option value="Condiciones climáticas y geográficas adversas">Condiciones climáticas y geográficas adversas</option>
                                                    <option value="Señalización">Señalización</option>
                                                    <option value="Condiciones del medioambiente natural">Condiciones del medioambiente natural</option>
                                                    <option value="Condiciones de riesgo en el espacio de trabajo">Condiciones de riesgo en el espacio de trabajo</option>
                                                    <option value="Factores de riesgos químicos y biológicos">Factores de riesgos químicos y biológicos</option>
                                                </optgroup>
                                                <optgroup label="4. Factores tecnológicos">
                                                    <option value="Características de los vehículos">Características de los vehículos</option>
                                                    <option value="Sistemas de protección activa de vehículos">Sistemas de protección activa de vehículos</option>
                                                    <option value="Sistema de protección pasiva de vehículos">Sistema de protección pasiva de vehículos</option>
                                                    <option value="Fallos en vehículos">Fallos en vehículos</option>
                                                    <option value="Máquinas y herramientas">Máquinas y herramientas</option>
                                                </optgroup>
                                                <optgroup label="5. Factores externos">
                                                    <option value="Fuerza mayor">Fuerza mayor</option>
                                                </optgroup>
                                                <optgroup label="6. Factores individuales">
                                                    <option value="Condiciones de salud">Condiciones de salud</option>
                                                    <option value="Factores De comportamiento">Factores De comportamiento</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <textarea class="form-control" id="causaInvestigacionArbol"
                                                      rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-success">Agregar</button>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header align-items-center d-flex">
                                        <h4 class="card-title mb-0 flex-grow-1">Lista de Hechos</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered align-middle table-nowrap mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th scope="col">Hecho</th>
                                                        <th scope="col">Causa</th>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1 Se resbaló con tacos</td>
                                                        <td>Causa N°1<br>Causa N°2</td>
                                                        <td>
                                                            <div class="hstack gap-3 fs-15 text-center">
                                                                <button class="btn btn-danger btn-sm"><i class="ri-delete-bin-5-line"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2 Hecho dos</td>
                                                        <td>Causa N°3</td>
                                                        <td>
                                                            <div class="hstack gap-3 fs-15 text-center">
                                                                <button class="btn btn-danger btn-sm"><i class="ri-delete-bin-5-line"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- end card-body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Árbol de Causas</h4>
                                    </div><!-- end card header -->

                                    <div class="card-body">
                                        <div class="dropzone">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple="multiple">
                                            </div>
                                            <div class="dz-message needsclick">
                                                <div class="mb-3">
                                                    <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                                </div>

                                                <h4>Arraste y suelte aquí su diagrama.</h4>
                                            </div>
                                        </div>

                                        <ul class="list-unstyled mb-0" id="dropzone-preview">
                                            <li class="mt-2" id="dropzone-preview-list">
                                                <!-- This is used as the file preview template -->
                                                <div class="border rounded">
                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar-sm bg-light rounded">
                                                                <img data-dz-thumbnail class="img-fluid rounded d-block" src="/assets/images/new-document.png" alt="Dropzone-Image" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <div class="pt-1">
                                                                <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                                <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                                            </div>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-3">
                                                            <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- end dropzon-preview -->
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div> <!-- end col -->
                            <div class="col-lg-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-borderless align-middle table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48"
                                                             height="48">
                                                            <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12
                                                    2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20
                                                    20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183
                                                    7.58172 20 12 20Z"></path>
                                                        </svg>
                                                    </td>
                                                    <td>Hecho o variación</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M20 3H4c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM4 19V5h16l.001 14H4z"></path></svg>
                                                    </td>
                                                    <td>Hecho permanente</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48"
                                                             height="48">
                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                                        </svg>
                                                    </td>
                                                    <td>Vinculación</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="48"
                                                             height="48">
                                                            <path d="M12 13H4V11H12V4L20 12L12 20V13Z"></path>
                                                        </svg>
                                                    </td>
                                                    <td>Vinculación permanente</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><!-- end card-body -->
                            </div>
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-success">Grabar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-medidas" role="tabpanel">
                <div class="row g-4">
                    <div class="col-xxl-4">
                        <div>
                            <label for="causas-investigacion" class="form-label me-1">Causas</label>
                            <select class="form-select" id="causas-investigacion" data-choices name="causas-investigacion">
                                <option value="">Seleccione la(s) causa(s)</option>
                                <optgroup label="1. Gestión Preventiva de la empresa">
                                    <option data-bs-toggle="modal" data-bs-target="#investigacion-causa-modal" value="Gestión de la Prevención">Gestión de la Prevención</option>
                                    <option value="Actividades preventivas">Actividades preventivas</option>
                                </optgroup>
                                <optgroup label="2. Factores de la organización del trabajo">
                                    <option value="Jornadas de trabajo y descanso">Jornadas de trabajo y descanso</option>
                                    <option value="Carga mental y física en el trabajo">Carga mental y física en el trabajo</option>
                                    <option value="Formación, capacitación e información">Formación, capacitación e información</option>
                                    <option value="Clima organizacional">Clima organizacional</option>
                                </optgroup>
                                <optgroup label="3. Factores asociados al medio">
                                    <option value="Condiciones estructurales y deficiencias de vías de desplazamiento ">Condiciones estructurales y deficiencias de vías de desplazamiento </option>
                                    <option value="Condiciones climáticas y geográficas adversas">Condiciones climáticas y geográficas adversas</option>
                                    <option value="Señalización">Señalización</option>
                                    <option value="Condiciones del medioambiente natural">Condiciones del medioambiente natural</option>
                                    <option value="Condiciones de riesgo en el espacio de trabajo">Condiciones de riesgo en el espacio de trabajo</option>
                                    <option value="Factores de riesgos químicos y biológicos">Factores de riesgos químicos y biológicos</option>
                                </optgroup>
                                <optgroup label="4. Factores tecnológicos">
                                    <option value="Características de los vehículos">Características de los vehículos</option>
                                    <option value="Sistemas de protección activa de vehículos">Sistemas de protección activa de vehículos</option>
                                    <option value="Sistema de protección pasiva de vehículos">Sistema de protección pasiva de vehículos</option>
                                    <option value="Fallos en vehículos">Fallos en vehículos</option>
                                    <option value="Máquinas y herramientas">Máquinas y herramientas</option>
                                </optgroup>
                                <optgroup label="5. Factores externos">
                                    <option value="Fuerza mayor">Fuerza mayor</option>
                                </optgroup>
                                <optgroup label="6. Factores individuales">
                                    <option value="Condiciones de salud">Condiciones de salud</option>
                                    <option value="Factores De comportamiento">Factores De comportamiento</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div>
                            <textarea class="form-control" id="causaTextArea02"
                                      rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div>
                            <label for="lugarTextArea" class="form-label">
                                Medidas correctivas
                            </label>
                            <textarea class="form-control" id="medidasTextArea"
                                      rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-4">
                        <div>
                            <label for="lugarTextArea" class="form-label">
                                Responsable
                            </label>
                            <textarea class="form-control" id="lugarTextArea"
                                      rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-xxl-2">
                        <div>
                            <label for="fechaInicioMedidas" class="form-label">
                                Fecha Inicio
                            </label>
                            <input type="date" id="fechaInicioMedidas" class="form-control">
                        </div>
                    </div>
                    <div class="col-xxl-2">
                        <div>
                            <label for="fechaFinMedidas" class="form-label">
                                Fecha Fin
                            </label>
                            <input type="date" id="fechaFinMedidas" class="form-control">
                        </div>
                    </div>
                    <div class="col-xxl-12">
                        <div>
                            <label class="form-label"
                                   for="docAdjuntos">Adjuntar Documentos</label>
                            <div id="docAdjuntos" class="card">
                                <div class="card-body">
                                    <input type="file"
                                           class="filepond filepond-input-multiple"
                                           multiple
                                           name="filepond"
                                           data-allow-reorder="true"
                                           data-max-file-size="3MB"
                                           data-max-files="4">
                                </div>
                                <!-- end card body -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 mt-0">
                        <div>
                            <label for="medidasObservaciones" class="form-label">
                                Observaciones
                            </label>
                            <textarea class="form-control" id="medidasObservaciones"
                                      rows="1"></textarea>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end my-3">
                        <button class="btn btn-success">Agregar</button>
                    </div>
                </div>
                <hr class="my-2">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header align-items-center d-flex">
                                <h4 class="card-title mb-0 flex-grow-1">Resumen Medidas Correctivas</h4>
                            </div><!-- end card header -->

                            <div class="card-body">

                                <div class="live-preview">
                                    <div class="table-responsive">
                                        <table class="table table-striped-columns table-hover table-nowrap align-middle mb-0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Responsable</th>
                                                    <th scope="col">Fecha Inicio</th>
                                                    <th scope="col">Fecha Fin</th>
                                                    <th scope="col">Causas</th>
                                                    <th scope="col">Medidas correctivas</th>
                                                    <th scope="col">Doc. Adjuntos</th>
                                                    <th scope="col">Estado</th>
                                                    <th scope="col">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Pedro Pascal Flores</td>
                                                    <td>20-07-2023</td>
                                                    <td>04-08-2023</td>
                                                    <td>
                                                        - Causa N°1<br>
                                                        - Causa N°2
                                                    </td>
                                                    <td>Arreglar escalera</td>
                                                    <td>imagen.pdf</td>
                                                    <td>
                                                        <select class="form-select" id="inputGroupSelect01">
                                                            <option selected value="enProceso">En proceso</option>
                                                            <option value="Finalizado">Finalizado</option>
                                                            <option disabled value="FueraPlazo">Fuera de plazo</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-danger btn-sm"><i class="ri-delete-bin-5-line"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end card-body -->
                        </div><!-- end card -->
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-success" id="sa-warning-medidas-grabar">Grabar</button>
                </div>
            </div>
            <div class="tab-pane" id="pill-justified-finalizar" role="tabpanel">
                <div class="d-flex justify-content-around align-items-center">
                    <button class="btn btn-danger">Cerrar Informe</button>
                    <button class="btn btn-success">Ver PDF</button>
                </div>
            </div>
        </div>
    </div><!-- end card-body -->
</div><!-- end card -->

<script type="text/javascript">
    // Log the value of TrabajadorFechaIngreso to the console
    console.log("TrabajadorFechaIngreso:", "@Model.TrabajadorFechaIngreso");
</script>